	<header class="header">

		<div class="header__top">

			<div class="center">

				<div class="header__flex">

					<div class="header__menu-top">

					</div>

					<div class="header__cart">

					</div>

				</div>

			</div>

		</div>

		<div class="header__main">

			<div class="center">

				<div class="header__flex">

					<div class="header__logo">

						<a href="/" title="{{ site }}">



						</a>

					</div>

					<div class="header__cart">

					</div>

				</div>

			</div>

		</div>

		<div class="header__top">

			<div class="center">

				<div class="header__flex">

					<div class="header__menu-top">

					</div>

					<div class="header__cart">

					</div>

				</div>

			</div>

		</div>


					<div class="header__btn-catalog hidden-sm">

						<button class="btn btn--big btn-toggle-menu-catalog" type="button">

							<svg width="24" height="24" viewBox="0 0 24 24">
								<g id="svg-catalog">
									<path d="M16 18a1 1 0 0 0 0-2H6.99A1 1 0 0 0 6 17a1 1 0 0 0 .99 1H16ZM6 7a1 1 0 0 0 1 1h13a1 1 0 0 0 1-1 1 1 0 0 0-1-1H7a1 1 0 0 0-1 1Zm14 6a1 1 0 1 0 0-2H7a1 1 0 1 0 0 2h13Z"/>
									<circle cx="4" cy="7" r="1"/>
									<circle cx="4" cy="12" r="1"/>
									<circle cx="4" cy="17" r="1"/>
									<path opacity="0" d="m12 10.59-5.3-5.3a1 1 0 0 0-1.4 1.42L10.58 12l-5.3 5.3a1 1 0 0 0 1.42 1.4L12 13.42l5.3 5.3a1 1 0 0 0 1.4-1.42L13.42 12l5.3-5.3a1 1 0 1 0-1.42-1.4L12 10.58Z"/>
								</g>
							</svg>

							Каталог

						</button>

					</div>

					<div class="header__search">

						<form action="/" class="search">

							<input class="input search__input" placeholder="Поиск товаров" name="keywords">

							<button class="btn search__submit">
								Найти
							</button>

						</form>

					</div>


				</div>

			</div>

			<nav class="header__bottom">

				<div class="header__flex">

					<div class="header__menu-service">



					</div>

					<div class="header__menu-contacts hidden-md">



					</div>

				</div>

			</nav>

		</div>

	</header>