	<div class="modal" id="modal">

		<div class="modal__box">

			<div class="modal__item modal__item--ok">

				<div class="modal-login__head h2"></div>
				<div class="modal-login__text"></div>

			</div>

			<button type="button" class="modal__close modal__close-btn button" aria-label="Закрыть">
				<svg width="24" height="24" viewBox="0 0 24 24">
					<path d="m12 10.59-5.3-5.3a1 1 0 0 0-1.4 1.42L10.58 12l-5.3 5.3a1 1 0 0 0 1.42 1.4L12 13.42l5.3 5.3a1 1 0 0 0 1.4-1.42L13.42 12l5.3-5.3a1 1 0 1 0-1.42-1.4L12 10.58Z"/>
				</svg>
			</button>

		</div>

	</div>