	<div class="modal" id="modal">

		<div class="modal__box">

			<div class="modal__item modal__item--video">

				<div id="modal-video">

				</div>

			</div>

			<form action="/" class="form form-modal modal__item modal__item--demo">

				<h3 class="modal__title">
					Заказать демо
				</h3>

				<label class="inputbox">

					<span class="inputbox__label">
						Имя
					</span>

					<input class="input" placeholder="Введите Имя" name="name" required="required">

				</label>

				<label class="inputbox">

					<span class="inputbox__label">
						Телефон
					</span>

					<input class="input inputmask inputmask--phone" placeholder="+7 (ххх) ххх хх-хх" name="phone" type="tel" required="required">

				</label>

				<label class="inputbox">

					<span class="inputbox__label">
						E-mail
					</span>

					<input class="input" placeholder="Введите E-mail" name="email" type="email" required="required">

				</label>

				<div class="modal__checkbox checkbox">

					<label class="checkbox__control">

						<input class="checkbox__input" type="checkbox" required="required">

						<span class="checkbox__label">
							Я согласен с <a href="/" target="_blank">политикой конфиденциальности</a>
						</span>

					</label>

				</div>

				<button class="modal__submit btn form__submit">
					<span>Заказать демо</span>
				</button>

			</form>

			<div class="modal__item modal__item--ok">

				<div class="modal-login__head h2"></div>
				<div class="modal-login__text"></div>

			</div>

			<button type="button" class="modal__close modal__close-btn button" aria-label="Закрыть">
				<svg width="24" height="24" viewBox="0 0 24 24">
					<path stroke-width="2" d="M18 6 6 18M6 6l12 12"/>
				</svg>
			</button>

		</div>

	</div>