	<div class="modal" id="modal">

		<div class="modal__box">

			<div class="modal__item modal__item--video">

				<video src="/video.mp4" controls="controls" preload="none" width="960" height="480" id="modal-video"></video>

			</div>

			<form action="/mail.php" class="form-demo modal__item modal__item--demo">

				<input type="hidden" name="subject" value="{% if lang === 'eng' %}Request demo{% else %}Заказать демо{% endif %}">

				<h3 class="modal__title">

						{% if lang === 'eng' %}
				Request demo
						{% else %}
				Заказать демо
						{% endif %}

				</h3>

				<div class="modal__fieldset">

					<label class="inputbox">

						<span class="inputbox__label">

						{% if lang === 'eng' %}
				Name
						{% else %}
				Имя
						{% endif %}

						</span>

						<input class="input" placeholder="{% if lang === 'eng' %}Name{% else %}Введите Имя{% endif %}" name="name" required="required">

					</label>

					<label class="inputbox">

						<span class="inputbox__label">

						{% if lang === 'eng' %}
				Phone
						{% else %}
				Телефон
						{% endif %}

						</span>

						{% if lang === 'eng' %}
						<input class="input" placeholder="Phone" name="phone" type="tel" required="required">
						{% else %}
						<input class="input inputmask inputmask--phone" placeholder="{% if lang === 'eng' %}+7 (ххх) ххх хх-хх{% else %}+7 (ххх) ххх хх-хх{% endif %}" name="phone" type="tel" required="required">
						{% endif %}

					</label>

					<label class="inputbox">

						<span class="inputbox__label">

						{% if lang === 'eng' %}
				E-mail
						{% else %}
				E-mail
						{% endif %}

						</span>

						<input class="input" placeholder="{% if lang === 'eng' %}E-mail{% else %}Введите E-mail{% endif %}" name="email" type="email" required="required">

					</label>

				</div>

				<button class="modal__submit btn form-demo__submit">
					<span>{% if lang === 'eng' %}Request demo{% else %}Заказать демо{% endif %}</span>
				</button>

			</form>

			<div class="modal__item modal__item--ok">

				<div class="modal__ico is-green">

					<svg width="68" height="68" viewBox="0 0 68 68">
						<path stroke-width="3" d="m47.65 14.26 1.16.95-1.16-.95L24.78 42.2l-8.01-6.01a4.33 4.33 0 1 0-5.2 6.93L20.73 50a7.17 7.17 0 0 0 9.84-1.2l23.78-29.06a4.33 4.33 0 1 0-6.7-5.48Z"/>
					</svg>

				</div>

				<p class="modal__title">

						{% if lang === 'eng' %}
				Success!
						{% else %}
				Успех!
						{% endif %}

				</p>

				<p class="modal__text">

						{% if lang === 'eng' %}
				Your request is well received! We are already connecting you
						{% else %}
				Ваша заявка на получение демо-версии продукта успешно отправлена.
						{% endif %}

				</p>

				<button type="button" class="modal__close modal__submit btn" aria-label="{% if lang === 'eng' %}Close{% else %}Закрыть{% endif %}">
					<span>{% if lang === 'eng' %}OK{% else %}ОК{% endif %}</span>
				</button>

			</div>

			<button type="button" class="modal__close modal__close-btn button" aria-label="{% if lang === 'eng' %}Close{% else %}Закрыть{% endif %}">
				<svg width="24" height="24" viewBox="0 0 24 24">
					<path stroke-width="2" d="M18 6 6 18M6 6l12 12"/>
				</svg>
			</button>

		</div>

	</div>