{% set news = [

	"График работы в праздничные дни",
	"Автохимия для моек. Автокосметика Grass",
	"Лучшая бытовая мойка - Karcher K 5 Compact",
	"График работы в праздничные дни"

] %}

	<section class="news-list">

		<div class="center">

			<h2 class="news-list__title h2 h2--sm-18">
				Наши новости
			</h2>

			<div class="swiper-wrap">

				<div class="swiper-inner">

					<div class="swiper-container swiper-container--card-auto">

						<div class="news-list__column swiper-wrapper">

{% for i in [1,2] %}
{% for name in news %}

							<article class="news-list__item swiper-slide">

								<a href="/" class="news-list__photo">

									<picture>

										<source srcset="/img/news/preview/{{ loop.index }}--480x340.webp" type="image/webp" media="(max-width: 767px)">
										<source srcset="/img/news/preview/{{ loop.index }}--480x340.png" media="(max-width: 767px)">

										<source srcset="/img/news/preview/{{ loop.index }}--336x216.webp 1x, /img/news/preview/{{ loop.index }}--672x432.webp 2x" type="image/webp">
										<source srcset="/img/news/preview/{{ loop.index }}--336x216.jpg 1x, /img/news/preview/{{ loop.index }}--672x432.jpg 2x">

										<img src="/img/news/preview/{{ loop.index }}--336x216.jpg" alt="{{ name }}" loading="lazy" width="336" height="216">

									</picture>

								</a>

								<time datetime="2021-12-05" class="news-list__date">
									5 декабря 2021
								</time>

								<div class="news-list__name h4">

									<a href="/">
										{{ name }}
									</a>

								</div>

							</article>

{% endfor %}
{% endfor %}

						</div>

					</div>

				</div>

			</div>

		</div>

	</section>