.clients {

	margin: var(--space) 0;

	&__title {

		margin-bottom: var(--gap);

	}

	&__intro {

		font-weight: 300;
		margin-left: 2px;

	}

	&__flex {

		display: flex;
		justify-content: space-between;

	}

	&__content {

		width: 460px;
		flex-shrink: 0;
		margin: 32px 0;

	}

	&__list {

		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 772px;
		position: relative;
		margin-top: 44px;

		&::after {

			position: absolute;
			width: 1px;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			margin: auto;
			background-color: var(--border);

		}

	}

	&__item {

		position: relative;

		@media $desktop {

			&:nth-child(1) {

				padding-right: 30px;
				padding-bottom: 30px;
				border-bottom: 1px solid var(--border);

			}

			&:nth-child(2) {

				padding-left: 30px;
				padding-bottom: 30px;
				border-bottom: 1px solid var(--border);

			}

			&:nth-child(3) {

				padding-right: 30px;
				padding-top: 30px;

			}

			&:nth-child(4) {

				padding-left: 30px;
				padding-top: 30px;

			}

		}

		dt {

			margin-bottom: 8px;

		}

		dd {

			font-weight: 300;

		}

		svg {

			fill: var(--purpule);
			margin-bottom: 40px;

			[stroke-width] {

				stroke: var(--purpule);
				fill: none;

			}

		}

	}

	&__btn {

		margin-top: 60px;

	}

}