.footer {

	flex-shrink: 0;
	position: relative;
	margin: 148px 0 56px;
	font-weight: 300;
	font-size: 16px;

	&__flex {

		display: flex;
		justify-content: space-between;

	}

	&__logo {

		font-weight: 800;
		font-size: 36px;
		line-height: 1.2;
		margin-bottom: 28px;

		span {

			color: var(--orange);

		}

	}

	&__first {

		p {

			color: rgba(37, 37, 37, .5);
			font-size: 15px;
			margin-top: 8px;

		}

		a {

			text-decoration: underline;
			color: inherit;

			@media $desktop {

				&:hover {

					text-decoration: none;

				}

			}

		}

	}

	&__menu {

		min-width: 256px;

		li + li {

			margin-top: 8px;

		}

		.btn {

			font-size: 16px;
			line-height: 26px;
			height: 26px;

		}

		a {

			@media $desktop {

				&:hover {

					color: var(--orange);

				}

			}

		}

	}

	&__contact {

		p + p {

			margin-top: 8px;

		}

	}

	&__social {

		display: flex;
		gap: 24px;
		margin-left: 18px;

		a {

			width: 48px;
			height: 48px;
			background-color: #fff;
			box-shadow: var(--box-shadow);
			border-radius: 8px;
			display: flex;
			align-items: center;
			justify-content: center;

			@media $desktop {

				&:hover svg {

					fill: var(--orange);

				}

			}

		}

	}

}