.header {

	padding: 32px 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;

	&__flex {

		display: flex;
		justify-content: space-between;
		align-items: flex-start;

	}

	&__logo {

		font-weight: 800;
		font-size: 36px;
		line-height: 1.2;

		span {

			color: var(--orange);

		}

	}

	&__menu {

		display: flex;
		align-items: center;
		margin-top: 5px;

		li {

			margin-left: 52px;

		}

		.btn {

			font-size: 18px;

		}

		a {

			@media $desktop {

				&:hover {

					color: var(--orange);

				}

			}

		}

	}

}