.header {

	padding: 32px 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;

	@media $mdWidth {

		padding: 24px 0;

		.center {

			width: 100%;

		}

	}

	&__flex {

		display: flex;
		justify-content: space-between;
		align-items: flex-start;

	}

	&__logo {

		font-weight: 800;
		font-size: 36px;
		line-height: 1.2;

		span {

			color: var(--orange);

		}

		@media $mdWidth {

			font-size: 27px;

		}

	}

	&__menu {

		display: flex;
		align-items: center;
		margin-top: 5px;

		@media $mdWidth {

			margin-top: 2px;

		}

		li {

			margin-left: 48px;

			@media $lgWidth {

				margin-left: 52px;

			}

			@media $mdWidth {

				margin-left: 36px;

			}

		}

		.btn {

			font-size: 16px;

			@media $lgWidth {

				font-size: 18px;

			}

			@media $mdWidth {

				font-size: 14px;

			}

		}

		a {

			@media $desktop {

				&:hover {

					color: var(--orange);

				}

			}

			@media $mdWidth {

				font-size: 14px;

			}

		}

	}

}