.visible-md,
.visible-sm {

	display: none;

}

.center {

	width: 1090px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;

}

@media $desktop {

}

@media $lgWidth {

	.center {

		width: 1320px;

	}

	:root {

		--space: 200px;

	}

}

@media $mdWidth {

	:root {

		--indent: 64px;
		--gap: 16px;
		--space: 128px;

	}

	.hidden-md {

		display: none !important;

	}

	.visible-md {

		display: block;

	}

	.center {

		width: 640px;
		padding: 0 var(--indent);

	}

}

@media $smWidth {

	:root {

		--indent: 25px;
		--gap: 16px;
		--space: 112px;

	}

	.hidden-sm {

		display: none !important;

	}

	.visible-sm {

		display: block;

	}

	.center {

		width: 540px;

	}

}

@media $xsWidth {

	:root {

		--indent: 10px;

	}

	.hidden-xs {

		display: none !important;

	}

}