.modal {

	flex-grow: 1;
	position: relative;
	z-index: 10;
	display: none;
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: var(--indent);

	@media $smWidth {

		padding: 0;
		align-items: flex-end;

	}

	&__box {

		position: relative;
		max-width: 100%;

	}

	&__item {

		background-color: #fff;
		padding: 24px var(--gap);
		max-width: 100%;
		box-shadow: var(--card-shadow);
		border-radius: 3px;
		width: 550px;

		@media $smWidth {

			border-radius: 9px 9px 0 0;
			padding: 18px 21px;

		}

	}

	&__close-btn {

		position: absolute;
		top: 15px;
		right: 15px;
		--text: var(--grey);

		@media $smWidth {

			top: 12px;
			right: 12px;

		}

		@media $desktop {

			&:hover {

				--text: var(--dark);

			}

		}

	}


}

.modal-show {

	.modal {

		display: flex;

	}

	.wrapper {

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		pointer-events: none;

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			z-index: 9;
			opacity: .7;
			background-color: #000;

		}

	}

}