:root {

	--color: #252525;
	--blue: #4db2cd;
	--purpule: #aa3ed2;
	--orange: #ff6c38;
	--orangeHover: #ffa714;
	--red: #ff3e13;
	--error: #ff3e13;
	--bg: #fdfdfd;
	--border: #e3e3e3;
	--placeholder: #ccc;

	--transitionDefault: 0s;

--indent: 40px;
	--gap: 24px;
	--space: 200px;

}

$desktop: (min-width: 1250px);
$mdWidth: (max-width: 1249px);
$smWidth: (max-width: 767px);
$xsWidth: (max-width: 359px);